{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread"
      ]
    }
  }
}
